<ion-view title="Write Message" id="page4" style="background-color:#003399;">
    <ion-nav-buttons side="primary">
      <button class="button" ng-click="myGoBack()">
        <i class="ion-arrow-left-c"></i> Back
      </button>
    </ion-nav-buttons>
	<ion-nav-buttons side="secondary">
      <button class="button" ng-click="sendMessage()">
        Send
      </button>
    </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form id="writeMessage-form2" class="list">
            <label class="item item-input" id="writeMessage-textarea1">
                <textarea id="messagetext" placeholder="" id="messagetext"></textarea>
            </label>
        </form>
    </ion-content>
</ion-view>