#nickname, #channel_text {
	text-align: center;
	width: 100%;
}

#nicktext {
	text-align: center;
	background-color: transparent;
	color: white;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

#chatrooms_button {
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
}

#connection_state {
	margin-top: 90%;
	margin-left: 15%;
	width: 70%;
}

.listv {
	padding: 0px;
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	min-height: 700px;
}

.channelItem {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

.remove-channel {
	background-color: #ff0000;
	color: #ffffff;
	margin-right: 10px;
}

.chatlist{
	background-color: transparent;
	color: #ffffff;
}


.bubble.right 
{
	position: relative;
	width: 50%;
	min-height: 65px;
	padding: 5px;
	font-weight: bold;
	background: #05A9FF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #FFFFFF solid 6px;
	margin-bottom: 20px;
	margin-left: 0px;
}

.bubble.right:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 8px 0;
	border-color: #05A9FF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 15px;
}

.bubble.right:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 13px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -26px;
	left: 10px;
}

.bubble.left 
{
	position: relative;
	width: 50%;
	min-height: 65px;
	font-weight: bold;
	padding: 5px;
	background: #05A100;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #FFFFFF solid 6px;
	margin-bottom: 20px;
	margin-left: 50%;
}

.bubble.left:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 8px 0;
	border-color: #05A100 transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -15px;
	left: 112px;
}

.bubble.left:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 13px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -26px;
	left: 107px;
}


#messagetext {
	width: 100%;
	min-height: 200px;
}

.unreadcount{
	border-radius: 50%; 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ff0000;
	color: #ffffff;
}







